/* Set Up + Boilerplate */

html {
  box-sizing: border-box;
  font-size: 62.5%;
  --color1: rgb(179, 169, 169);
  --color2: rgb(221, 208, 208);
  --color3: rgb(138, 129, 129);

}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: var(--color2);
  margin: 0;
  font-family: 'Roboto Slab', serif;
  font-size: 1.6rem;
  line-height: 2.4rem;
}

/* General Styles */

h1, h2, h3, cite {
  font-family: 'Architects Daughter', cursive;
  font-weight: 700;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  font-size: 2rem;
  padding: .6em 1.4em;
}

section, .site-header {
  margin-bottom: 3em;
}

.more-articles {
  padding: 1em 0;
}

/* Header */

.site-header {
  background-color: var(--color1);
}

.site-header nav{
  min-height: 6em;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* Primary Section */

.site-top {
  background-color: var(--color1);
  margin-left: 8em;
  margin-right: 8em;
}

.site-top-container {
  display: flex;
  justify-content: space-between;
}

.more-articles {
  display: flex;
  justify-content: center;
}

.newsletter-cta {
  border: 5px dotted black;
}

/* 2nd Section */

.section2 {
  background-color: var(--color1);
  margin: 3em 8em;
}
.section2-container {
  display: grid;
  gap: .5em;
  grid-template-columns: 1fr 1fr 1fr;
}

.article-card {
  width: 100%;
  background-color: var(--color3);
  text-align: center;
}

.article-card p {
  margin: auto;
  max-width: 45ch;
}

.ads {
  height: 30em;
  grid-column: 1 / -1;
  display: grid;
  place-items: center;
}

/* Section 3 - Large Book Cta */

.book-cta-large {
  background-color: var(--color1);
  min-height: 100vh;
  padding: 2em 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.image-ph {
  border: 5px dotted black;
  width: 40%;
  flex: .7;
}

/* Section 4 Guides */

.guides-grid {
  margin: 2em 10em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
}

.guide-card {
  font-size: 2.2rem;
  border: 1px solid black;
  padding: 1em 3em;
}

/* Section 5 - Book CTA Small */

.book-cta-small {
  background-color: var(--color1);
  padding: 2em;
}

/* Section 6 - Community Highlights */

.community-hl {
  margin: 2em 8em;
}

.icon-ph {
  border: 2px dashed black;
  width: 4em;
  height: 4em;
  margin: 1em;
  flex-shrink: 0;
}

.large {
  width: 12em;
  height: 12em;
}

.com-art {
  display: flex;
}

.community-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}


/* Site Footer */

.site-footer {
  background-color: var(--color1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

 .article-catergories {
  font-size: 2.4rem;
  max-width: 50ch;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.article-catergories > *, .site-map > * {
  /* display: list-item;
  list-style-type: disc; */
  padding: .2em;
}

.site-map {
  display: flex;
}
